  <form action="answer" class="row row-cols-lg-auto align-items-center mb-3" data-turbo="false">
    <div class="row">
      <div class="col">
        <label for="answer" class="form-text">Ask your coach anything!</label>
      </div>
    </div>
    <div class="row">
      <div class="col align-bottom">
        <input type="text" name="answer" id="answer" class="form-control">
      </div>
      <div class="col align-bottom">
        <input type="submit" value="Ask!" class="btn btn-primary">
      </div>
    </div>
  </form>
<%# input-group %>
